<div class="vendeur-container">
    <!-- Profile Section -->
    <section class="profile">
      <h2>{{ username }}</h2>
    </section>
  
    <!-- Search Bar -->
    <!-- <section class="search">
      <input type="text" placeholder="Search products..." (input)="searchProduct($event)">
    </section> -->
  
    <!-- Products Section -->
    <!-- <section class="products">
      <h3>Products List</h3>
      <ul>
        <li *ngFor="let product of products | filter:searchText">
          {{ product.name }} - {{ product.category }} 
          <span [class.in-stock]="product.inStock" [class.out-of-stock]="!product.inStock">
            {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
          </span>
        </li>
      </ul>
    </section>
  </div>
   -->